@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,500;0,700;0,900;1,300;1,600;1,900&family=Poppins:wght@100;300;400;500;600&display=swap');

/* #4169e1 */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background: #4169e1;
}

.btn {
    font-size: 1.7rem;
    padding: .7rem 4rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background: none;
    color: #333;
    cursor: pointer;
    border: .2rem solid #4169e1;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0040ff;
    clip-path: circle(500px at left 950px);
}

.circle1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0040ff;
    clip-path: circle(450px at right);
}

.btn:hover {
    background-color: #0040ff;
    color: #fff;
}

.heading {
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
    font-size: 2.2rem;
    padding: 0 .5rem;
    color: #333;
}

.heading span {
    color: #4169e1;
}

.heading span h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
}

header {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading h1 {
    color: #333;
}

.heading h1 span {
    color: #0040ff;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    padding-left: 3rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #666;
    text-decoration: none;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: #4169e1;
    border-bottom: 2px solid #4169e1;
}

header #menu-bar {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 1rem 10%;
    padding-top: 0.2rem;
}

.home {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    overflow: hidden;
}


.home .image {
    flex: 1 1 39rem;
}

.home .image img {
    width: 100%;
}

.home .content {

    flex: 1 1 39rem;
}

.home .content h1 {
    color: #333;
    font-size: 6rem;
}

.home .content h1 span {
    color: #0040ff;
}

.about {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

.about .heading {
    margin-top: 35px;
    font-size: 3rem;
    color: #0040ff;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

.about-content {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about-content .image {
    margin: auto;
    display: block;
    flex: 1 1 40rem;
    height: 40rem;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
}

.about-content .image img {
    position: relative;
    width: 56%;
}

.about .content {

    flex: 1 1 40rem;
    padding: 2rem;
}

.about .content h1 {

    font-size: 4rem;
    color: #333;
}

.about .content p {

    font-size: 1.8rem;
    color: #666;
    padding: 1rem 0;
}

.about-content .content span {
    color: #0040ff;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50% 50%;
    width: 70%;
    height: 100%;
    transform: translate(55%, 75%);
    background-color: hsl(216, 21%, 16%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-3%, 60%);
    z-index: -1;
}

.about1,
.skills1 {
    margin: 0%;
    padding: 0%;
    top: 0;
    left: 0%;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

.skills .heading {
    margin-top: 50px;
    color: #0040ff;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

.skills-content {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}


.skills-content .image {
    margin: auto;
    display: block;
    flex: 1 1 40rem;
    height: 40rem;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
}

.skills-content .image img {
    position: relative;
    width: 56%;
    opacity: 0.9;
}


.skills-content .content {
    flex: 1 1 40rem;
    padding: 1rem;
}

.skills-content .content .row {
    display: grid;
    width: 100%;
}

.progress-title {
    width: 100%;
}

.progress-title h3 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin: 4px 0 20px;
}

.progress {
    height: 20px;
    background: #333;
    border-radius: 20px;
    border: 2px solid #000;
    box-shadow: 0 2px 2px #333;
    margin-bottom: 40px;
    overflow: visible;
    position: relative;

}

.progress .progress-bar {
    border-radius: 40px;
    border: 1px solid #000;
    animation: animate-positive 2s;
}


.progress .progress-value {
    font-weight: bold;
    border-radius: 20px;
}





@media(max-width:1200px) {
    html {
        font-size: 53%;
    }

    .home::before,
    .home::after {
        display: none;
    }

    .circle,
    .circle1 {
        display: none;
    }

    .home {
        margin: 120px;
    }

    .home .content h1 {
        margin-top: auto;
        font-size: 4rem;
    }

    .home .content .image {
        width: 40px;
    }
}

@media only screen and (max-width:900px) {
    .heading {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-top: 90px;
        grid-gap: 60px;
        text-align: center;
    }

    header #menu-bar {
        display: block;
    }

    header .navbar {
        position: top;
        top: 8rem;
        left: 0;
        width: 100%;
        background: var(--yellow);
        border-top: .2rem solid rgba(0, 0, 0, .1);
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem;
    }

    header .navbar ul li {
        margin: 1.5rem;
        width: 100%;
    }

    header .navbar ul li a {
        display: block;
        color: #fff;
        padding-left: 2rem;
        border-left: 2rem solid #fff;
        font-size: 2rem;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover {
        color: #333;
        border-color: #333;
    }

    .home {
        font-size: 43px;
    }
}