.example-spacer {
  flex: 1 1 auto;
}

button {
  margin: 20px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 10%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
